section.skills {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;

  & > div.stack {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.75rem;

    & > ul {
      display: flex;
      flex-flow: row wrap;
      gap: 0.75rem;

      & > li {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.5rem;

        & > img.icon {
          width: 5rem;
          height: 5rem;

          padding: 0.5rem;

          border: 2px solid var(--c-button-outlined-border);
          border-radius: var(--radius-md);

          user-select: none;

          transition-duration: 150ms;
          transition-property: padding;

          &:hover {
            padding: 0.25rem;
          }
        }

        & > span {
          font-size: var(--fs-sm);
        }
      }
    }
  }
}
