section.introduction {
  & > header {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;

    & > div.greetings {
      display: flex;
      flex-flow: column nowrap;
      gap: 1rem;

      & > div {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        gap: 2rem;
      }

      img.pfp {
        display: none;
        width: 7.5rem;
        height: 7.5rem;
        flex-shrink: 0;
        object-fit: cover;
        border-radius: var(--radius-circle);
      }

      span.title {
        padding: 0 0.5rem;
        color: var(--c-main-highlight);
        border-right: 1px solid var(--c-main-light);
        letter-spacing: 0.8px;

        &:first-of-type {
          padding-left: 0;
        }

        &:last-of-type {
          border-right: none;
        }
      }
    }

    & > div.cta {
      display: flex;
      flex-flow: row nowrap;
      gap: 1rem;
    }
  }
}
