$c-none: #00000000;

$c-purple-100: #f9f9fc;
$c-purple-200: #d0d0e6;
$c-purple-300: #a7a7cf;
$c-purple-400: #7f7fb7;
$c-purple-500: #56569f;
$c-purple-600: #464682;
$c-purple-700: #363665;
$c-purple-800: #262647;
$c-purple-900: #161629;

$c-gray-100: #fafafb;
$c-gray-300: #b9b7be;
$c-gray-500: #787481;
$c-gray-700: #4c4951;
$c-gray-900: #1f1e21;

$screen-md: 720px;
$screen-lg: 1080px;
