@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

@import "./variables";

@import "./themes/light";
@import "./typography";
@import "./dimensions";

:root {
  @include typography;
  @include theme-light;
  @include dimensions;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  background: var(--c-main-background);
  color: var(--c-main-text);
}

div.root {
  display: grid;
  grid-template-columns: 20rem auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

h1 {
  font-size: var(--fs-xxl);
  font-weight: var(--fw-semi);
}

h2 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-semi);
}

h3 {
  font-size: var(--fs-md);
  font-weight: var(--fw-medium);
}

p {
  line-height: 1.5;
  white-space: pre-wrap;
}

small {
  color: var(--c-main-lowlight);
  font-size: var(--fs-xs);
}

address {
  font-style: normal;
}

@media screen and (max-width: $screen-md) {
  div.root {
    display: block;
  }
}
